body {
	background-color: white;
	font-family: Consolas;
    font-size: 15px;
}
.text {
	color: red;
}
.const a {
	color: crimson;
}
.const-zakon a {
	color: blue;
}
.codex a {
	color: navy;
}
.zakon a {
	color: green;
}
.parlam-decision a {
	color: olive;
}
.decree a {
	color: purple;
}
.gov-decision a {
	color: teal;
}
.order a {
	color: maroon;
}
.decision a {
    color: deeppink;
}